/* index.css - justinratra.com */

body { margin: 0; padding: 0; width: 100%; }
	h1 { font-family: 'Arvo'; font-weight: normal; font-size: 55px; text-align: center; color: #fff; margin: 0; padding: 0; }
	h2 { font-family: 'Arvo'; font-weight: normal; font-size: 40px; text-align: center; color: #fff; margin: 0; padding: 0; }
	h3 { font-family: 'Oswald'; font-weight: normal; font-size: 16px; text-align: center; color: #fff; margin: 5px 0; padding: 0; z-index: 1; position: relative; }

	.center { margin: 0 auto; }
	.content { margin: 0 auto; width: 960px; }
	.clear { clear: both; }

	#header { width: 100%; background: rgba(80, 100, 150, 0.5); height: 80px; position: fixed; margin-top: 30px; }
		#nav { width: 410px; float: right; margin-top: 20px; }
			#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family: 'Wellfleet'; font-weight: bold; }
			#nav ul { list-style: none; display: block; margin: 0 auto; list-style: none; }
				#nav li { margin-top: 9px; float: left; padding-left: 21px; }
					#nav li a { color: #fff; opacity: 0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
					#nav li a.active { color: #fff; opacity: 1; border-bottom: 2px solid #fff; }
					#nav li a:hover { color: #fff; opacity: 1; }
	
	#section1, #section2 { width: 100%; }
	#section1 { background: url('../img/1.jpg') 50% 0 no-repeat fixed; color: #fff; height: 600px; margin: 0; padding: 200px 0 260px 0; background-size: cover; }
	#section2 { background-color: #b7ccdb; color: #333333; height: 300px; margin: 0 auto; padding: 200px 0; overflow: hidden; }
	#section3 { background: url('../img/2.jpg') 50% 0 no-repeat fixed; color: #fff; height: 600px; padding: 170px 0 0 0; background-size: cover; }
	#section4 { background-color: #b7ccdb; color: #333333; height: 300px; padding: 200px 0; }
