/* index.css - bootstrap - justinratra.com */

#header { background: rgba(80, 100, 150, 1); border-color: rgb(80, 100, 150); margin-top: 20px; }
	#logo { color: #fff; font-size: 30px; font-family: 'Wellfleet'; font-weight: bold; }
	#header li a { font-size: 16px; color: #fff; opacity: 0.6; font-family: 'Wellfleet'; }
	#header li:hover a { opacity: 1; }
	#header li.active a { text-decoration: underline; opacity: 1; background-color: rgb(80, 100, 150); background-image: none; }


.section { padding: 200px 50px; height: auto !important; }
#section1 {  background: url('../img/teameditation.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
#section2 {  background: url('../img/templemeditation.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
#section3 {  background: url('../img/elephants.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
	#section3 h2 { text-align: center; }
	#section3 .text-box { padding-bottom: 30px; }
		.thumb-title { height: 90px; }
		#section3 img { border: 5px solid white; }
		#section3 img:hover { border: 5px solid rgb(80, 100, 150); }
#section4 {  background: url('../img/hardlyworking.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
	#world-map { margin: auto; max-width: 960px; height: 700px; position: relative; }

@media (max-width: 768px) {
	#section1 {  background: url('../img/segovia_mobile.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
	#section2 {  background: url('../img/hong_kong_mobile.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
	#section3 {  background: url('../img/running_mobile.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
	#section4 {  background: url('../img/mekong_delta_mobile.jpg') 50% 0 no-repeat fixed; background-size: cover; -webkit-background-size: cover; background-attachment: scroll; }
		#world-map { height: 500px; }
}

	svg, svg * { overflow: visible !important; }

.text-box { background: rgba(0, 0, 0, 0.75); border-radius: 6px; color: white; font-family: 'Oswald'; }

.datamaps-hoverover { color: black; }

.center { margin: auto; }
.text-center { text-align: center; }
